In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Lending Club Random Tree Model
# We'll use data from Lending Club to predict the state of a loan given some information about it.

# Replace the path with the correct path for your data.
y2015 = pd.read_csv(
    'C:\\Users\\Chris\\Documents\\Python Scripts\\Thinkful File Examples\\LoanStats3d.csv',
    skipinitialspace=True,
    header=1
)

# Note the warning about dtypes.

C:\Users\Chris\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
y2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,23850.0,23850.0,23850.0,60 months,17.27%,596.21,D,D3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,15000.0,15000.0,15000.0,60 months,10.78%,324.50,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,7200.0,7200.0,7200.0,36 months,17.27%,257.67,D,D3,...,NaN,NaN,Cash,Y,May-2018,BROKEN,Nov-2017,2761.0,50.01,10.0
3,NaN,NaN,12000.0,12000.0,12000.0,36 months,9.17%,382.55,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,11950.0,11950.0,11950.0,36 months,13.44%,405.18,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
categorical = y2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

id
2
term
2
int_rate
111
grade
7
sub_grade
35
emp_title
120812
emp_length
11
home_ownership
4
verification_status
3
issue_d
12
loan_status
7
pymnt_plan
2
desc
34
purpose
14
title
27
zip_code
914
addr_state
49
earliest_cr_line
668
revol_util
1211
initial_list_status
2
last_pymnt_d
48
next_pymnt_d
6
last_credit_pull_d
49
application_type
2
verification_status_joint
1
hardship_flag
2
hardship_type
1
hardship_reason
9
hardship_status
3
hardship_start_date
23
hardship_end_date
24
payment_plan_start_date
24
hardship_loan_status
4
disbursement_method
1
debt_settlement_flag
2
debt_settlement_flag_date
41
settlement_status
3
settlement_date
44

In [5]:
# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

In [6]:
y2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
421092,NaN,NaN,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,5 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
421093,NaN,NaN,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,1 year,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
421094,NaN,NaN,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
421095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Remove two summary rows at the end that don't actually contain data.
y2015 = y2015[:-2]

In [8]:
pd.get_dummies(y2015)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,settlement_date_Nov-2017,settlement_date_Nov-2018,settlement_date_Oct-2015,settlement_date_Oct-2016,settlement_date_Oct-2017,settlement_date_Oct-2018,settlement_date_Sep-2015,settlement_date_Sep-2016,settlement_date_Sep-2017,settlement_date_Sep-2018
0,NaN,NaN,23850.0,23850.0,23850.0,17.27,596.21,68046.0,24.71,1.0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,15000.0,15000.0,15000.0,10.78,324.50,65000.0,29.28,0.0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,NaN,7200.0,7200.0,7200.0,17.27,257.67,20000.0,13.21,1.0,...,1,0,0,0,0,0,0,0,0,0
3,NaN,NaN,12000.0,12000.0,12000.0,9.17,382.55,39400.0,26.32,0.0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,NaN,11950.0,11950.0,11950.0,13.44,405.18,34000.0,10.20,0.0,...,0,0,0,0,0,0,0,0,0,0
5,NaN,NaN,20000.0,20000.0,20000.0,14.85,691.84,110000.0,12.45,0.0,...,0,0,0,0,0,0,0,0,0,0
6,NaN,NaN,24700.0,24700.0,24700.0,11.99,820.28,65000.0,16.06,1.0,...,0,0,0,0,0,0,0,0,0,0
7,NaN,NaN,17475.0,17475.0,17475.0,13.99,597.17,39750.0,23.58,0.0,...,0,0,0,0,0,0,0,0,0,0
8,NaN,NaN,18000.0,18000.0,18000.0,7.49,559.83,75000.0,25.65,0.0,...,0,0,0,0,0,0,0,0,0,0
9,NaN,NaN,16000.0,16000.0,16000.0,12.88,363.07,90000.0,6.39,0.0,...,0,0,0,0,0,0,0,0,0,0
10,NaN,NaN,16250.0,16250.0,16250.0,13.44,373.41,50000.0,34.95,0.0,...,0,0,0,0,0,0,0,0,0,0
11,NaN,NaN,4200.0,4200.0,4200.0,13.99,143.53,32000.0,31.02,0.0,...,0,0,0,0,0,0,0,0,0,0
12,NaN,NaN,35000.0,35000.0,35000.0,12.88,794.21,106000.0,17.36,0.0,...,0,0,0,0,0,0,0,0,0,0
13,NaN,NaN,20000.0,20000.0,20000.0,5.32,602.30,65000.0,18.83,0.0,...,0,0,0,0,0,0,0,0,0,0
14,NaN,NaN,24000.0,24000.0,24000.0,9.80,507.58,77900.0,10.24,0.0,...,0,0,0,0,0,0,0,0,0,0
15,NaN,NaN,10000.0,10000.0,10000.0,12.88,336.37,91392.0,9.44,0.0,...,0,0,0,0,0,0,0,0,0,0
16,NaN,NaN,20000.0,20000.0,20000.0,6.49,612.89,55000.0,29.15,0.0,...,0,0,0,0,0,0,0,0,0,0
17,NaN,NaN,5000.0,5000.0,5000.0,13.44,169.54,79000.0,12.70,0.0,...,0,0,0,0,0,0,0,0,0,0
18,NaN,NaN,35000.0,35000.0,35000.0,11.99,778.38,128000.0,6.46,0.0,...,0,0,0,0,0,0,0,0,0,0
19,NaN,NaN,5000.0,5000.0,5000.0,9.80,160.87,72000.0,6.52,0.0,...,0,0,0,0,0,0,0,0,0,0
20,NaN,NaN,15000.0,15000.0,15000.0,9.80,482.61,92000.0,13.89,0.0,...,0,0,0,0,0,0,0,0,0,0
21,NaN,NaN,6000.0,6000.0,6000.0,7.91,187.77,105000.0,14.45,0.0,...,0,0,0,0,0,0,0,0,0,0
22,NaN,NaN,3600.0,3600.0,3600.0,11.48,118.68,85000.0,17.44,0.0,...,0,0,0,0,0,0,0,0,0,0
23,NaN,NaN,10400.0,10400.0,10400.0,22.45,289.91,104433.0,25.37,1.0,...,0,0,0,0,0,0,0,0,0,0
24,NaN,NaN,20000.0,20000.0,20000.0,15.77,700.88,70000.0,22.21,0.0,...,0,0,0,0,0,0,0,0,0,0
25,NaN,NaN,6000.0,6000.0,6000.0,7.49,186.61,100000.0,13.28,1.0,...,0,0,0,0,0,0,0,0,0,0
26,NaN,NaN,9000.0,9000.0,9000.0,9.17,286.92,50000.0,11.98,0.0,...,0,0,0,0,0,0,0,0,0,0
27,NaN,NaN,12000.0,12000.0,12000.0,5.32,361.38,53750.0,15.30,1.0,...,0,0,0,0,0,0,0,0,0,0
28,NaN,NaN,10000.0,10000.0,10000.0,16.59,246.33,30000.0,30.84,0.0,...,0,0,0,0,0,0,0,0,0,0
29,NaN,NaN,16000.0,16000.0,16000.0,13.44,367.67,42000.0,9.60,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421065,NaN,NaN,20000.0,20000.0,20000.0,6.99,617.46,72000.0,27.24,0.0,...,0,0,0,0,0,0,0,0,0,0
421066,NaN,NaN,10300.0,10300.0,10300.0,13.66,237.86,93600.0,15.72,1.0,...,0,0,0,0,0,0,0,0,0,0
421067,NaN,NaN,15000.0,15000.0,15000.0,11.99,498.15,70000.0,8.47,0.0,...,0,0,0,0,0,0,0,0,0,0
421068,NaN,NaN,13000.0,13000.0,13000.0,8.19,408.52,85000.0,8.05,1.0,...,0,0,0,0,0,0,0,0,0,0
421069,NaN,NaN,23000.0,23000.0,23000.0,15.59,554.32,50000.0,31.95,0.0,...,0,0,0,0,0,0,0,0,0,0
421070,NaN,NaN,15000.0,15000.0,15000.0,11.44,329.44,57000.0,15.77,0.0,...,0,0,0,0,0,0,0,0,0,0
421071,NaN,NaN,18700.0,18700.0,18700.0,17.86,473.44,52000.0,11.28,0.0,...,0,0,0,0,0,0,0,0,0,0
421072,NaN,NaN,26950.0,26950.0,26950.0,8.19,846.88,54000.0,18.11,0.0,...,0,0,0,0,0,0,0,0,0,0
421073,NaN,NaN,6000.0,6000.0,6000.0,17.86,216.50,90000.0,2.84,0.0,...,0,0,0,0,0,0,0,0,0,0
421074,NaN,NaN,25000.0,25000.0,25000.0,15.59,602.52,55000.0,5.52,0.0,...,0,0,0,0,0,0,0,0,0,0
421075,NaN,NaN,25000.0,25000.0,25000.0,15.99,607.82,103000.0,5.27,0.0,...,0,0,0,0,0,0,0,0,0,0
421076,NaN,NaN,26500.0,26500.0,26500.0,8.67,545.87,92000.0,29.60,1.0,...,0,0,0,0,0,0,0,0,0,0
421077,NaN,NaN,21000.0,21000.0,21000.0,6.03,639.15,65000.0,17.09,0.0,...,0,0,0,0,0,0,0,0,0,0
421078,NaN,NaN,8000.0,8000.0,8000.0,8.19,251.40,50000.0,17.62,0.0,...,0,0,0,0,0,0,0,0,0,0
421079,NaN,NaN,12000.0,12000.0,12000.0,9.49,384.34,40000.0,25.65,1.0,...,0,0,0,0,0,0,0,0,0,0
421080,NaN,NaN,13150.0,13150.0,13150.0,14.99,312.77,30000.0,1.00,0.0,...,0,0,0,0,0,0,0,0,0,0
421081,NaN,NaN,6225.0,6225.0,6225.0,16.49,220.37,27000.0,18.58,0.0,...,0,0,0,0,0,0,0,0,0,0
421082,NaN,NaN,10000.0,10000.0,10000.0,6.49,306.45,75000.0,33.66,0.0,...,0,0,0,0,0,0,0,0,0,0
421083,NaN,NaN,10775.0,10775.0,10775.0,6.03,327.95,54000.0,13.22,1.0,...,0,0,0,0,0,0,0,0,0,0
421084,NaN,NaN,7000.0,7000.0,7000.0,14.31,240.30,57000.0,16.80,2.0,...,0,0,0,0,0,0,0,0,0,0
421085,NaN,NaN,4000.0,4000.0,4000.0,8.67,126.59,50000.0,12.63,0.0,...,0,0,0,0,0,0,0,0,0,0
421086,NaN,NaN,10850.0,10850.0,10850.0,19.24,399.04,32000.0,29.44,0.0,...,0,0,0,0,0,0,0,0,0,0
421087,NaN,NaN,7500.0,7500.0,7500.0,9.49,240.22,40000.0,25.63,0.0,...,0,0,0,0,0,0,0,0,0,0
421088,NaN,NaN,12000.0,12000.0,12000.0,11.99,398.52,63000.0,23.69,1.0,...,0,0,0,0,0,0,0,0,0,0
421089,NaN,NaN,11575.0,11575.0,11575.0,15.59,404.61,25400.0,27.08,0.0,...,0,0,0,0,0,0,0,0,0,0
421090,NaN,NaN,10000.0,10000.0,10000.0,11.99,332.10,31000.0,28.69,0.0,...,0,0,0,0,0,0,0,0,0,0
421091,NaN,NaN,24000.0,24000.0,24000.0,11.99,797.03,79000.0,3.90,0.0,...,0,0,0,0,0,0,0,0,0,0
421092,NaN,NaN,13000.0,13000.0,13000.0,15.99,316.07,35000.0,30.90,0.0,...,0,0,0,0,0,0,0,0,0,0
421093,NaN,NaN,12000.0,12000.0,12000.0,19.99,317.86,64400.0,27.19,1.0,...,0,0,0,0,0,0,0,0,0,0
421094,NaN,NaN,20000.0,20000.0,20000.0,11.99,664.20,100000.0,10.83,0.0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

C:\Users\Chris\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 3 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

array([0.98663089, 0.98705832, 0.98712956, 0.98929021, 0.98777013,
       0.9884588 , 0.99016791, 0.98976417, 0.98940794, 0.9903104 ])

So here's your task. Get rid of as much data as possible without dropping below an average of 90% accuracy in a 10-fold cross validation.

You'll want to do a few things in this process. First, dive into the data that we have and see which features are most important. This can be the raw features or the generated dummies. You may want to use PCA or correlation matrices.

Can you do it without using anything related to payment amount or outstanding principal? How do you know?

In [10]:
from sklearn.decomposition import PCA 
from sklearn import preprocessing

In [18]:
pca = PCA()
pca.fit(X)
pca_data = pca.transform(X)

In [19]:
X.shape

(421095, 426)

In [20]:
best_scores = pd.Series(pca.components_[0], index=X.columns)
sorted_best_scores = best_scores.abs().sort_values(ascending=False)

top_10 = sorted_best_scores[0:10].index.values
print(best_scores[top_10])

tot_hi_cred_lim               0.731604
tot_cur_bal                   0.643758
annual_inc                    0.132629
total_bal_ex_mort             0.114543
total_il_high_credit_limit    0.078936
total_rev_hi_lim              0.075811
avg_cur_bal                   0.053163
revol_bal                     0.050026
total_bc_limit                0.035693
total_pymnt                   0.013780
dtype: float64

In [91]:
top_3 = sorted_best_scores[0:3].index.values
X2 = X[best_scores[top_3].index]

In [92]:
cross_val_score(rfc, X2, Y, cv=10)

C:\Users\Chris\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 3 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

array([0.62272036, 0.62108188, 0.62158055, 0.61741588, 0.6208739 ,
       0.62025647, 0.62117938, 0.61866198, 0.62148811, 0.62167811])